body ,html{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

*{
    font-family: "Poppins",ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    
    line-height: 100%; 
    color: rgb(0, 0, 0);
}
header{
    padding-top: 1.25rem ;
    width: 100%;
}
main{
    width: 100%;
}
section{
    position: relative;
    width: 100%;
}

.bold{
    font-weight: bold;
}
.nav-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.my_btn {
    width: 10rem;
    font-size: 16px;
    font-weight: 600;
    
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    color: #fff;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.my_btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.my_btn:focus {
    outline: none;
}

.my_btn.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    
}
.my_btn.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    
}

.small{
    font-size: 1.15rem;
    margin: 3rem 1rem ;
}
.big{
    font-size: 3.75rem;
    margin: 0rem 1rem ;
    font-weight: bold;
}
img.round{
    margin: 3rem auto ;
    border-radius: 50px;
    width: 100%;
}
.logotype{
    height: 4rem;
}
#Organizers{
    margin: 10rem auto ;
}
.space-y{
   margin-top: 5rem;
   margin-bottom: 5rem;
}
.logos{
   
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.album{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    grid-auto-rows: 300px;
}
.album img{
    border-radius: 15px;
    object-fit: cover;
}
.album img{
    
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
.album img:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 616px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem;
}
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}
.accordion button[aria-expanded='true'] {
    color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}
.faq {
    margin: 0 auto;
    padding: 4rem;
    width: 60%;
}

footer{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    padding: 1.5rem 1.25rem;
    border-radius: 5px;
    margin: 1.5rem;
}
footer div{
    color: white;
}
@media (max-width: 992px){
    .faq {
        margin: 0 auto;
        padding: 4rem;
        width: 100%;
    }
    .big{
        font-size: 2rem;
        margin: 0rem 1rem ;
    }
    .small{
        font-size: 1rem;
        margin: 1.5rem 1rem ;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .column{
        flex-direction: column;
    }
    .logos{
        grid-template-columns: 1fr ;
        gap: 3rem;
    }
    .album img:first-child{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 250px;
    }
    .album{
        
        grid-template-columns: 1fr ;
       
    }
    
}